{% load static %}
<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>D Magazine</h1>
        
    </header>    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina inicial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
</head>
<body>
    <p id = "conf">Confira nossas ofertas</p>
    <div id = "logo">
        <img src="{% static 'img/logo.png' %}" alt="logotipo" class="foto">
    </div>
    <div id = "of1">
        <img src="{% static 'img/cafeteira.png' %}" alt="logotipo" class="foto">
    </div>
    <div id = "of2">
        <img src="{% static 'img/fogão.png' %}" alt="logotipo" class="foto">
    </div>
    <div id = "of3">
        <img src="{% static 'img/chaleira.png' %}" alt="logotipo" class="foto">
    </div>
    <p id = "trocas">trocas</p>
    <p id = "log">login/cadastro</p>
    
    
</body>
</html>
