{% load static %}
=<link rel="stylesheet" href="{% static 'css/style_produtos.css' %}">
</head>
<body>
    <h1>Cadastro de Produtos</h1>
    
<form action="{% url 'listagem_produtos'%}" method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class ="container">

        Descrição<input name="descrição" type="text" class="form-control-sm">
        Marca<input name="marca" type="text" class="form-control-sm">
        Modelo<input name="modelo" type="text" class="form-control-sm">
        Preço<input name="preço" type="number" class="form-control-sm" step="0.01" min="0">

        <button>
        <input class = "but" id="ele" type="button" value="Eletro/Eletronicos" onclick="tipo_select(choseele)">
        <input class = "but" id="mov" type="button" value="Móveis" onclick="tipo_select(chosemov)">
        <input class = "but" id="uti" type="button" value="Utilidades" onclick="tipo_select(choseuti)">
        </button>
        
       
    </div>
</form>
</body>
</html>