{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/style_produtos.css' %}">
</head>
<body>
    <h1>Cadastro de Produtos</h1>
    
<form action="{% url 'listagem_produtos'%}" method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class ="container">

        Descrição<input name="descrição" type="text" class="form-control-sm">
        Marca<input name="marca" type="text" class="form-control-sm">
        Modelo<input name="modelo" type="text" class="form-control-sm">
        Preço<input name="preço" type="number" class="form-control-sm">

        <input class = "form-control-sm" id="ele" type="button" value="Eletro/Eletronicos" onclick="tipo_select()">
        <input class = "form-control-sm" id="mov" type="button" value="Móveis" onclick="tipo_select()">
        <input class = "form-control-sm" id="uti" type="button" value="Utilidades" onclick="tipo_select()">

        <button class = "form-control-sm"> Enviar </button>
       
    </div>
</form>
</body>
</html>