.utilibutton{
    background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
    padding: 10px 15px;
    margin: 8px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 8px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  .eletrobutton{
    background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
    padding: 10px 15px;
    margin: 8px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 8px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }


header{
    text-align: center;
    background-color: yellow;
    font-size: xx-large;
    font-style: initial;
    background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
    padding: 10px 15px;
    margin: 8px;
 
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  
    color: #d4e0f7;
    font-size: 8px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    
    
}
div{
    text-align: center;
    padding: 8px;
    background-color: yellow;  
    font-size: larger;
}

.foto{
    padding: 20px;
}


footer{
    text-align: center;
    background-color: yellow;
    
}

body{
    text-align: center;
    background-color: yellow;
    
}

