/* Estilo para o elemento <nav> */
nav {
    text-align: center;
}

/* Estilo para o elemento <h1> */
h1 {
    text-align: center;
    background-color: yellow;
}

/* Estilo para o elemento com classe "container" */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    text-align: center;
    background-color: yellow;
    font-style: italic;
    font-size: x-large;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-top: 20px;
}

/* Estilo para elementos com classe "form-control-sm" */
.form-control-sm {
    background-color: black;
    color: whitesmoke;
    font-style: italic;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

/* Estilo para elementos com classe "but" e botões */
.but,
button {
    background-color: black;
    color: whitesmoke;
    font-style: italic;
    padding: 5px;
    font-size: larger;
    text-align: center;
    align-items: center;
}
